{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% block title %}
	Блог USA STORES
{% endblock %}
{% block content %}
	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

	<div class="container">	
		<!-- Блок категорий -->
		<div class="row categories">
				{% if cat_selected == 0 %}
					<div class="col selected">Все категории</div>
				{% else %}
					<div class="col">
						<a href="{% url 'home' %}">Все категории</a>
					</div>
				{% endif %}

				{% show_categories cat_selected=cat_selected %}
		</div>
		<hr>
		<!-- Блок контента -->
		 <div class="row">
			
		 </div>
	</div>
{% endblock %}