{% extends "blog/blog_base.html" %}
{% load static %}

{% block content_blog %}
<h1>Блог</h1>
<hr>
 <div class="container">
	{% for p in posts %}
		<div class="row article-panel">
			<div class="col">{{p.cat}}</div>
			<div class="col data">
				<nobr>{{p.time_update|date:"d-m-Y"}}</nobr>
			</div>
		</div>
		<div class="row">
			<div class="col-4 col-md-4 article-left">
				<img src="{{p.photo.url}}">
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-8 article-right">
				<h2>{{p.title}}</h2>
				<p>
				{% autoescape on %}
					{{p.content|linebreaks|truncatewords:40}}
				{% endautoescape %}
				</p>
				<a href="{{ p.get_absolute_url }}">Читать ></a>
			</div>
		</div>
		<hr>
	{% endfor %}
 </div>
{% endblock content_blog %}
