{% load static %}
<!-- Раздел "Блог" -->
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" />
<div class="container">
    <div class="row">
            <h3>Блог</h3>
            <hr />
            <div class="container">
                <div class="row">
                    {% for post in posts%}
                    <div class="post-card col-12 col-sm-6 col-lg-3">
                        <div class="post-thumb">
                            <a href="{{ post.get_absolute_url }}">
                                <img src="{{ post.photo.url }}" alt="Post image">
                            </a>
                            <div class="post-title">
                                <h4>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h4>
                           
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="post-card col-12 col-sm-6 col-lg-3">
                        <div class="post-thumb">
                            <a href="{% url 'home' %}">
                                <img src="media/arrow-right-circle.svg" alt="Post image" id="all-posts-img">
                            </a>  
                            <div class="post-title">
                                <h4>
                                    <a href="{{ post.get_absolute_url }}">Все статьи</a>
                                </h4>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<!-- Конец раздела "Блог" -->
