{% extends "shop/base.html" %}
{% load static%}
{% block title %}Checkout{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'orders/css/style.css' %}">
<div class="container-xxl">
    <h1>Оформление заказа</h1>
    <hr>
    <div class="row">
        <div class="col-sm-4 ">
            <form action="." method="post" >
                {% csrf_token %}
                <table class="w-100">
                    {{ form.as_table }}
                </table>
                <div class="d-grid gap-2">
                    <input type="submit" class="btn btn-primary" value="ОФОРМИТЬ ЗАКАЗ">    
                </div>
            </form>
        </div> 
        
        <div class="col-sm-8 d-flex justify-content-around">
            <div class="order-info d-flex flex-column mb-3 justify-content-around">
                <h3>Ваш заказ</h3>
                <ul>
                    {% for item in cart %}
                        <li class="d-flex justify-content-between">
                            {{ item.quantity }}x {{ item.product.name }}
                            <span>{{ item.total_price }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <p>Итого: {{ cart.get_total_price }} рублей</p>
            </div> 
        </div>
    </div>
</div>
{% endblock %}