{% extends "shop/shop_base.html" %}
{% load static %} 
{% block title %} 
  Страница товара
{% endblock %} 

{% block content %}
<link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
<section>
  <div class="container-xxl">
    <div class="card mb-12">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ product.image.url }}"
            class="img-fluid rounded-start"
            alt="Product image"
          />
        </div>
        <div class="col-md-8 d-flex flex-column mb-4 justify-content-around">
          <div class="product-detail-title p-2">
            <h4>{{ product.name }}</h4>
          </div>
          <div class="product-detail-discription p-2">
            {{ product.description }}
          </div>
          <div class="product-detail-price p-2">{{ product.price }}</div>
          <div class="product-detail-cart p-2">
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
              {{ cart_product_form }} {% csrf_token %}
              <input type="submit" class="btn btn-primary" value="В корзину" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
