{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <section>
        <div class="container-xxl">
            <div class="row align-items-center">
                <div class="col-8">
                    <h1>Добро пожаловать в магазин USA STORES</h1>
                </div>
                <div class="col-4">
                    <img class="w-100" src="{% static 'shop/images/logo.png' %}" alt="Logo">
                </div>
            </div>
        </div>
    </section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Товары в наличии</h3>
                <hr>
                <div class="row owl-carousel owl-theme" id="slider">    
                    {% for product in products %}
                    <div class="item">
                        <div class="card" style="height: 450px;" >
                            <div class="product-image" style="height: 250px;">
                                <img src="{{ product.image.url }}" alt="Product image">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> {{ product.name }} </h5>
                                <span> {{ product.price }} </span>
                                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Больше информации</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>

    {% block scripts %}
    <script>
        $(document).ready(function(){
            const slider = $("#slider").owlCarousel({
                loop:true,
                margin:10,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:4
                    }
                }
            });
        });
    </script>
    {% endblock scripts %}

{% endblock %}

