{% extends 'base.html' %}
{% load static %}

{% block title %} Сброс пароля {% endblock %}

{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'usastores/css/login.css' %}">
    <h1>Сброс пароля</h1>
    <hr>
    <div class="container-xxl pas-reset">
        <form action="{% url 'password_reset' %}" method="post">
            {{ form }}
            {% csrf_token %}
            <div class="button">
                <button type="submit" class="btn btn-secondary">Сбросить пароль</button>
            </div>    
        </form>
    </div>
{% endblock %}