/* Cart */
.cart-title {
    flex-wrap: nowrap;
}

.cart-article {
    color: aliceblue;
    background-color: rgb(101, 121, 198); 
    text-align: center;
}

.cart-content {
    display: flex;
	align-items: center;
    text-align: center;
    height: auto;
    padding: 5px;
}

.content a {
    display: flex;
	align-items: center;
	justify-content: center;
	max-height: 300px;
}

.content img {
    width: 100%;
	height: auto;
    max-width: 300px;
}

.total {
    color: aliceblue;
    background-color: rgb(101, 121, 198);
    font-weight: 600;
}

.total .price {
    text-align: right;
    font-weight: 600;
}

.btn-order {
    text-align: right;
}

.buttons {
    margin-top: 10px;
}

.cart-empty {
    height: 300px;
    display: flex;
	align-items: center;
    text-align: center;
}